@-ms-keyframes spin { from { -ms-transform: rotate(0deg); } to { -ms-transform: rotate(360deg); }}
@-moz-keyframes spin { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); }}
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); } to {  -webkit-transform: rotate(360deg); }}
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); }}

/* Шапка сайта */
header {
    display: flex;
    flex-direction: column;
    min-width: 320px;
}
h1 {
    padding: 20px 0 0 40px;
    min-width: 280px;
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 5px 5px 15px;
    padding: 5px;
    min-width: 290px;
}
.search {
    display: flex;
    min-width: 295px;
    height: 25px;
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
}
.search input {
    font-size: 18px;
    padding-left:25px;
    padding-top: 3px;
}
.search label::before{
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    background-image: url(../images/icons/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute; 
    top: 2px;
    left: 0;
    cursor: pointer;
}
.search label::after{
    content: '';
    width: 0px;
    height: 1px;
    background-color: rgb(10, 139, 148); 
    position: absolute;
    top: 25px;
    left: 0;
    transition: 0.5s;
}
.scan {
    height: 20px;
    width: 100%;
    outline: none;
    border: none;
}
.search input:focus  + label::after  {
    width: 100%;
    background-color: rgb(212, 158, 42);
} 
/* всплывающее окно при поиске города */
.helper {
    display: none;
    padding: 0 5px 2px 5px ;
    top: 40px;
    height: auto;
    box-shadow:inset 0 -1px 0 1px blue;
    position: absolute;
    font-size: 18px;
    width: 310px;
    transition: .4s;
    z-index:1;
    background-color: aliceblue;
}
.search input:focus + .helper{ 
    background-color: black;
} 
.search-animation{
    display: none;
    content: '';
    width: 25px;
    height:20px;
    border: 4px dotted rgb(129, 116, 158);
    border-radius: 30px;

    -webkit-animation-name: spin;-webkit-animation-duration: 4000ms;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;
    -moz-animation-name: spin;-moz-animation-duration: 4000ms;-moz-animation-iteration-count: infinite;-moz-animation-timing-function: linear;
    -ms-animation-name: spin;-ms-animation-duration: 4000ms;-ms-animation-iteration-count: infinite;-ms-animation-timing-function: linear;
    animation-name: spin;animation-duration: 4000ms;animation-iteration-count: infinite;animation-timing-function: linear;
}

.switch {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;

    /*Отключил кнопки*/
    display: none;
}
.selector {
    width: 100px;
    height: 30px;
    border: 1px solid rgb(212, 158, 42);
    box-shadow: inset 0px 0px 20px 0px rgb(212, 158, 42);
    border-radius: 45px;
    margin: 5px;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
    cursor: pointer;
}
.signature {
    padding: 0 10px 0 10px;
    width: auto;
}
.key {
    display: block;
    width: 50px;
    position: absolute;
    background: rgb(10, 139, 148);
    border-radius: 45px;
    text-align: center;
    top: 0;
    right: 0;
    z-index: 1;
    transition: .3s;
}
/* медиа на размер экрана меньше 540px */



/* отследить: тело*/
.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: baseline;
    min-width: 320px;
    width: 100%;
}
.container,
.description {
    width: 80vh;
    min-width: 280px;
    height: 200px;
    margin: 10px 50px 10px 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow:hidden;
}
.container .menu,
.container .tile div h2,
.container .tile div span{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                     not supported by any browser */
}
.tile {
    background: rgb(129, 116, 158);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top:0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
    cursor: -webkit-grab;
}
.tile:active{
    cursor: -webkit-grabbing;
}


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    cursor: pointer;
    z-index: 1;
    width: 100px;
}
.details{
    background: rgb(179, 185, 185);
    position: absolute;
    height: 100%;
    line-height: 100%;
    left: -100px;
}
.remove {
    background: rgba(197, 70, 70, 0.918);
    color: aliceblue;
    position: absolute;
    height: 100%;
    line-height: 100%;
    right: -100px;
}
.animation{
    transition: .8s;
}

.error{
    background-color: rgb(128, 128, 128, 0.95);
    position: fixed;
    z-index: 10;
    top: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    opacity: 0;
}

.pop-up{
    background-color: aliceblue;
    border-radius: 100px 10px 100px 10px ;
    position: relative;
    width: 80%;
    min-width: 250px;
    max-width: 500px; 
    height: 80%;
    min-height: 250px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.pop-exit{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 24px;

}
.pop-exit:hover{
    transition: .3s;
    transform: rotate(360deg);
    border-radius: 20px;
    border: 1px solid rgba(102, 99, 99, 0.425);
    font-size: 28px;
}
.error-header,
.error-message{
    width: 80%;
    text-align: center;
}
.d-block{
    display:block;
}
/* скрыть вид */
.d-hidden{
    display: none;
}
/* отследить: подвал*/
footer {
    /* border: 1px solid blue; */
    min-height: 40px;
}
